body{
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    
}
.main-content{
    margin-left: 250px;
    padding: 25px;
}
.sidebar{
    background-color: antiquewhite;
    width:200px;
    height:100%;
    left:0;
    padding:15px;
    position:fixed;

}
.sidebar ul{
    list-style:none;
    padding:0;
}
.sidebar ul li{
    margin:15px 0;
}
.sidebar ul li a{
    color:white;
    text-decoration:none;
}
.sidebar ul li a:hover{
    text-decoration:underline;
}

.navbar{
    padding:10px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:white;
}
.navbar a{
    color:white;
}
.navbar a:hover{
    background-color: #575755;
    border-radius:5px;
}

.box-model{
    padding:15px;
    background-color:lightblue;
    border:5px solid yellow;
    margin: 20px;
}

.list{
    margin-left:225px;
}